html, body {
  height: 100%;
  margin: 0 auto;
  font-size: 16px;
}

.plant-image {
  background-image: url(../images/Plant_Background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.content {
  display: flex;
  margin-top: 10rem;
  display: block;
  width: 50rem;
  height: auto;
  justify-content: center;
}


img {
  display: block;
  opacity: .77;
  width: 95%;
  height: auto;
  Padding: 25px;
  margin: auto;
}

p {
  text-align: center;
  opacity: .77;
  display: block;
  font-size: 2rem;
  font-weight: 400;
  font-family: 'Raleway', sans-serif;
  color: #d5a453;
  letter-spacing: 15px;
}

.behance img {
  max-width: 2.5rem;
}

@media only screen and (max-width: 830px) {
    p {
      font-size: 1rem;
    }
    img {
      width: 60%;
    }
}

@media only screen and (max-width: 490px) {
    p {
      font-size: 1rem;
    }
    img {
      width: 25%;
    }
}
